.back-top {
    background-color: #009688;
    height: 15vh;
}

.back-main {
    background-color: #D9DBD5;
    height: 85vh;
}



ul.panel {
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

    ul.panel li {
        float: left;
    }

        ul.panel li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            /* Change the link color to #111 (black) on hover */
            ul.panel li a:hover {
                background-color: #111;
            }





.back-container {
    position: relative;
}

.front-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.front-container1 {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}

.chat-top {
    background-color: #EDEDED;
    min-height: 50px;
}

.profile-image {
    margin-top: 7px;
    height: 30px;
    width: 30px;
}

.contacts {
    background-color: #ffffff;
    min-height: 600px;
}

.contact-table-scroll {
    overflow-y: scroll;
    height: 600px;
}

.message-area {
    background-color: #e4e1de;
    min-height: 600px;
}

.message-table-scroll {
    overflow-y: scroll;
    height: 550px;
}

.message-box {
    background-color: #F0F0F0;
}

#spanUser{
    margin-top:5px;
    padding-top:5px;
}

.ui-widget-header, .ui-state-default, ui-button {
    background: #31ccf3;
    border: 1px solid #8766ff;
    color: #FFFFFF;
    font-weight: bold;
}
